<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>乐瑞后台管理系统</title>
    <script src="/static/jquery/jquery-3.0.0.min.js"></script>
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="/static/layui2/css/layui.css" media="all">
    <script src="/static/layui2/layui.js"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">评论信息管理</div>
                <div class="layui-card-body">
                    <table class="layui-table" lay-data="{ height:800,url:'/admin/getCommentList', page:true, id:'bsPostList', skin: 'row', even: true,limit:30,toolbar:'#toolbarDemo',defaultToolbar:['filter', 'print', 'exports']}">
                        <thead>
                            <tr>
                                <th lay-data="{field:'createBy.name',templet: '#postTitleTpl',width:100}">创建人</th>
                                <th lay-data="{field:'content'}">评论内容</th>
                                <th lay-data="{field:'createString',width:160}">创建时间</th>
                                <th lay-data="{toolbar: '#barDemo',width:100}">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" type="delPost" onclick="deleteComment('{{d.id}}',this)">删除</a>
</script>
<script type="text/html" id="postTitleTpl">
    <a href="/home/user?id={{d.createBy.id}}" class="layui-table-link" target="_blank">{{ d.createBy.name }}</a>
</script>
<script>
    layui.use('element', function(){
        var element = layui.element;
    });
    layui.use(['table', 'layer', 'laytpl', 'jquery', 'laypage'], function () {
        var laytpl = layui.laytpl;
        var layer = layui.layer;
        var table = layui.table;
        var $ = jQuery = layui.$;
        var laypage = layui.laypage;

        window.deleteComment = function (id,e) {
            layer.confirm("确认删除该评论？", {}, function () {
                var loadIndex = layer.load(0);
                $.ajax({
                    url: "/bs/bsComment/delComment",
                    type: 'post',
                    data: JSON.stringify({id: id}),
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        layer.msg("删除成功!");
                        $(e).parent().parent().parent().remove();
                    },
                    complete: function (XMLHttpRequest, textStatus) {
                        layer.close(loadIndex);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.close(loadIndex);
                    }
                })
            });
        }
    })
</script>
</body>
</html>