<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>乐瑞后台管理系统</title>
    <script src="/static/jquery/jquery-3.0.0.min.js"></script>
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">
    <script src="/static/layui/res/layui/layui.js"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">用户信息管理</div>
                <div class="layui-card-body">
                    <table class="layui-table" lay-data="{ height:800,url:'/admin/findListUser', page:true, id:'bsUserList', skin: 'row', even: true,limit:30}">
                        <thead>
                            <tr>
                                <th lay-data="{field:'name' , templet: '#usernameTpl',width:120}">用户昵称</th>
                                <th lay-data="{field:'email'}">邮件</th>
                                <th lay-data="{field:'userType',  sort: true,width:140}">用户类型</th>
                                <th lay-data="{field:'createString', sort: true,width:200}">创建时间</th>
                                <th lay-data="{field:'expireString', sort: true,width:200}">会员到期时间</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="usernameTpl">
    <a href="/home/user?id={{d.id}}" class="layui-table-link" target="_blank">{{ d.name }}</a>
</script>
<script>
    layui.use('element', function(){
        var element = layui.element;
    });
    layui.use(['table', 'layer', 'laytpl', 'jquery', 'laypage'], function () {
        var laytpl = layui.laytpl;
        var layer = layui.layer;
        var table = layui.table;
        var $ = jQuery = layui.$;
        var laypage = layui.laypage;
    })
</script>
</body>
</html>