@media screen and (max-width: 680px) {
    #topNav{
        width: 72%;
        float: left
    }
    .search{
        width: 28%;
        float: right;
        text-align: right;
        margin-top: 11px;
    }

    .search-bar{
        width: 100%;
        float:left;
    }
    #search{
        display: none;
    }
    #topNav{
        padding: unset;
    }
}

@media screen and (min-width: 680px) {
    #topNav{
        width: 400px;
        float: left
    }
    .search{
        width: 277px;
        float: right;
        text-align: right;
        margin-top: 11px;
    }
    .search-bar{
        width: 220px;
        float:left;
    }

}

